<%= button_to "Home", root_path, class: "button" %>


<h2 class="today-button">Today</h2>
  <div class="today-main">
    <div class="clothing-image">clothing icon</div>
    <h3>You should wear:</h3>
    <div class="clothing-recommendation">clothing recommendation</div>
    <div class="city">city</div>
    <div class="weather-summary">weather summary</div>
    <div class="current-weather-icon">current weather icon</div>
    <div class="current-temp">current temp</div>
    <div class="day-of-the-week">day of the week</div>
    <div class="todays-high">todays high</div>
    <div class="todays-low">todays low</div>
    <div class="now">now</div>
    <div class="in-one-hour">in one hour</div>
    <div class="in-two-hours">in two hours</div>
    <div class="in-three-hours">in three hours</div>
    <div class="in-four-hours">in four hours</div>
    <div class="in-five-hours">in five hours</div>
    <div class="in-six-hours">in six hours</div>
  </div>
<h2 class="five-days-button">Next 5 Days</h2>
  <div class="five-days-main">
    <div class=""></div>
    <div class="in-one-day">
      <div class="day-of-the-week-1"></div>
      <div class="days-icon-1"></div>
      <div class="days-high-1"></div>
      <div class="days-low-1"></div>
    </div>
    <div class="in-two-days">
      <div class="day-of-the-week-2"></div>
      <div class="days-icon-2"></div>
      <div class="days-high-2"></div>
      <div class="days-low-2"></div>
    </div>
    <div class="in-three-days">
      <div class="day-of-the-week-3"></div>
      <div class="days-icon-3"></div>
      <div class="days-high-3"></div>
      <div class="days-low-3"></div>
    </div>
    <div class="in-four-days">
      <div class="day-of-the-week-4"></div>
      <div class="days-icon-4"></div>
      <div class="days-high-4"></div>
      <div class="days-low-4"></div>
    </div>
    <div class="in-five-days">
      <div class="day-of-the-week-5"></div>
      <div class="days-icon-5"></div>
      <div class="days-high-5"></div>
      <div class="days-low-5"></div>
    </div>
  </div>
<h2 class="ten-days-button">Next 10 Days</h2>
  <div class="ten-days-main">
    <div class=""></div>
    <div class="in-six-days">
      <div class="day-of-the-week-6"></div>
      <div class="days-icon-6"></div>
      <div class="days-high-6"></div>
      <div class="days-low-6"></div>
    </div>
    <div class="in-seven-days">
      <div class="day-of-the-week-7"></div>
      <div class="days-icon-7"></div>
      <div class="days-high-7"></div>
      <div class="days-low-7"></div>
    </div>
    <div class="in-eight-days">
      <div class="day-of-the-week-8"></div>
      <div class="days-icon-8"></div>
      <div class="days-high-8"></div>
      <div class="days-low-8"></div>
    </div>
    <div class="in-nine-days">
      <div class="day-of-the-week-9"></div>
      <div class="days-icon-9"></div>
      <div class="days-high-9"></div>
      <div class="days-low-9"></div>
    </div>
    <div class="in-ten-days">
      <div class="day-of-the-week-10"></div>
      <div class="days-icon-10"></div>
      <div class="days-high-10"></div>
      <div class="days-low-10"></div>
    </div>
  </div>