<%= button_to "Home", root_path, class: "button" %>
<h2 class="today-button">Today</h2>
  <div class="today-main">
    <h3>You should wear:</h3>
    <div class="clothing-image"></div>
    <div class="clothing-recommendation"></div>
    <div class="city"></div>
    <div class="weather-summary"></div>
    <div class="current-weather-icon"></div>
    <div class="current-temp"></div>
    <div class="day-of-the-week"></div>
    <div class="todays-high"></div>
    <div class="todays-low"></div>
    <div class="now"></div>
    <div class="in-one-hour"></div>
    <div class="in-two-hours"></div>
    <div class="in-three-hours"></div>
    <div class="in-four-hours"></div>
    <div class="in-five-hours"></div>
    <div class="in-six-hours"></div>
  </div>
<h2 class="five-days-button">Next 5 Days</h2>
  <div class="five-days-main">
    <h3></h3>
    <div class=""></div>
  </div>
<h2 class="ten-days-button">Next 10 Days</h2>