/*
  Fonts:
    Primary:
    Trocchi   <link href="https://fonts.googleapis.com/css?family=Trocchi" rel="stylesheet"> font-family: 'Trocchi', serif;
    Shadow Into Light Two <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">  font-family: 'Shadows Into Light Two', cursive;
    Architects Daughter <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">  font-family: 'Architects Daughter', curs
    Amatic SC  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">   font-family: 'Amatic SC', cursive;

    Secondary:
    Mako <link href="https://fonts.googleapis.com/css?family=Mako" rel="stylesheet">  font-family: 'Mako', sans-serif;
    Reem Kufi <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">  font-family: 'Reem Kufi', sans-serif;
    -> Hind   <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">  font-family: 'Hind', sans-serif;

  Colors:
    Palette_1:
      #f46036 : orange
      #5b85aa : light_blue
      #414770 : purple_blue
      #372248 : purple
      #171123 : black_purple

    Palette_2:
      #870058 : fuschia
      #a4303f : red
      #f2d0a4 : yellow_almond
      #ffeccc : cream
      #c8d6af : mint
*/

body {
  background-color: #414770;
  background-image: image-url("rainy.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Mako', sans-serif;
  font-size: 2em;
}

h1 {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 5.4em;
}

h2 {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 3em;
}

.form {
  font-size: 3em;
}

.day-1, .day-2, .day-3, .day-4, .day-5, .day-6, .day-7 {
  background-color: #171123;
  display: inline;
}

input[type=text], select {
  width: 90%;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

button[type=submit] {
  width: 90%;
  background-color: #5b85aa;
  color: #fff;
  font-size: 1em;
  padding: 14px 20px;
  margin: 25px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clothing-image img{

}

.clothing-headwear img, .clothing-top img, .clothing-bottom img {
  width: 25%;
  height: auto;
}
.clothing-headwear, .clothing-top, .clothing-bottom {
  display: inline;
  /* background-color: purple; */
}

.clothing, .today-main, .weekly-forecast-main {
  background-color: rgba(55, 34, 72, 0.8);
  border-radius: 15px;
}

.current_temp h1 {
  font-size: 5.4em;
  font-family: 'Mako', sans-serif;
}

.weather-summary {
  padding-left: 25px;
}

.current-weather-icon, .weather-summary {
  display: inline;
  padding: 2em, 2em, 2em, 2em;
}

.day-of-the-week, .todays-high, .todays-low {
  display: inline;
}

.current-weather-icon img, .days-icon-1 img, .days-icon-2 img, .days-icon-3 img, .days-icon-4 img, .days-icon-5 img, .days-icon-6 img, .days-icon-7 img {
  width: 15%;
}

.todays-low, .days-low-1, .days-low-2, .days-low-3, .days-low-4, .days-low-5, .days-low-6, .days-low-7 {
  color: #5b85aa;
  border-bottom: 4px solid white;
}

.todays-low {
  border-bottom: none;
}

a {
  font-size: 2em;
  color: orange;
  margin-left: 5%;
}

.main-page {
  text-align: center;
  height: 100%;
}

.main-page h1 {
  /* background-color: #414770; */
  display: inline-block;
  background-color: rgba(255,165,0,0.8);
  width: 90%;
  border-radius: 15px;
  font-size: 4em;
}

.main-page h2 {
  /* background-color: #414770; */
  display: inline-block;
  background-color: rgba(255,165,0,0.8);
  border-radius: 15px;
}

